body{
    
font-family: "Work Sans";
    
}
    /* banner section */
    
 .header{

    width: 1600px;
    height: 808px;
    flex-shrink: 0;
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;

    }
    
.banner{   
    padding: 30px 240px 0px 845px;
    align-items: center;
    border: 0;    
    text-align: right;   
}
    
.banner-title{    
    color: #FFF;       
    font-size: 65px;    
    font-weight: 700;
    width: 525px; 
    margin-bottom: 40px;           
}
    
.banner-description{
    color: #FFF;       
    font-size: 16px;
    max-width: 505px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    }
    
.btn-primary{
    
    border-radius: 5px;
    background: #FFF;
    padding: 20px 25px;
    color: #005FAC;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;
    
}

/* failure section */
.failure{
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
    padding-left: 200px ;
    padding-right: 200px;
    
}
.img-content{
    border: none;
    padding-top: 180px;
    padding-left: 150px;
}
.img-title{
    color: #151414;
    
    font-size: 40px;
    width: 288px;
    font-weight: 700;
    
    
}
.img-description{
    color:  #444343;
    
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 26px; 
    width: 416px;
    }
    .img{
        border: none;
        padding-top: 150px;
    }
ul > li {
    color:  #444343;

    font-size: 16px;
    
    font-weight: 400;
    line-height: 26px; 
}
/* my plan section */
.plan-title{
    color: #151414;
    text-align: center;
    font-size: 40px;
   
    font-weight: 700;
    
}
.skill-container{
    display: flex;
    gap: 34px;
    border: 0;
    padding-left: 150px;
    padding-right: 100px;
    

}
.skill{
    padding: 30px;
    border-radius: 5px;
    
    justify-items: center;
    
}
.skill-title{
    color:  #151414;
    text-align: center;
    
    font-size: 30px;
    
    font-weight: 700;
    
}
.skill-description{
    color:  #737272;
    text-align: center;
    
    font-size: 25px;
    
    font-weight: 500;
   
}
/* Mindset section */
.mindset{
    background-image: url('images/watch.png');
    background-position: center;
    background-size: 1140px 300px;
    flex-shrink: 0;
    border-radius: 8px;    
    padding-left: 230px;
    padding-right: 230px;
    background-repeat: no-repeat;
    align-items: center;
}
.mind-title{
    color: #FFF;
    font-size: 40px;
    width: 459px;
    font-weight: 700;
    border: 0;
    
    
}
/* future section */
.fu-content{
    border: 0;
    padding-top: 130px;
    padding-left: 230px;
}
.future{
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
    background:  #151414;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.future-title{
    color: #F8F8F8;
    
    font-size: 45px;
    
    font-weight: 700;
    
}
.future-description{
    color: #FFF;

    font-size: 16px;

    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 485px;
}
.social-links a{
    width: 175px;
    height: 46px;
    flex-shrink: 0;
    margin-right: 20px;
    
}
.sub{
    border: 0;
    padding-right: 240px;
    padding-top: 140px;
}
.sub-title{
    color: #FFF;

font-size: 25px;

font-weight: 600;

}
.email{
 color:  #F3F3F3;
 border: 0;
 padding: 10px;
 font-size: 18px;

font-weight: 400;

}
.btn-secondary{
   
    color: #FFF;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #005FAC;
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    
}